.main {
	
}
/*.form-control{border-radius: 0%;}*/

.search{
	}

.text {
	font-family: ctrc-uchen;
	}

.col-md-4{

	float: left;
	}

a{color:#178918;}

.tab-content , .text-content {height:100%;overflow-y:auto;}

.row {
    margin-left: 0px;
    margin-right: 0px;
    width:99.99%;
}