.main {}
/*.form-control{border-radius: 0%;}*/
.search{
	height: 70%;
	overflow-y:scroll;}
.text {white-space: pre;

	height: 30%;
	overflow-y:scroll;}
.col-md-4{
	overflow-y:scroll;
	position: relative;}
a{color:#178918;}