.showtext {font-family: ctrc-uchen;
	cursor:text;}
.pagetext {line-height: 30px;
	font-size: 120%;
	cursor:default;
}
.cursor{cursor:default;}

.controlbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  z-index: 999;
  width: 97%;
  height: 100px;
  background-color: rgba(255,255,255,0.9);
}

.scrolled{border:1px solid #5cb85c;}

pb:after{content: attr(n);}
division:after{content: attr(t);
	}
#address{font-size: 120%;
	cursor:default;}

.right{float: right;}

.btn.searchmode:active,  
.btn.active.searchmode {
  background-image: none;              
  color: #ffffff;
  background-color: #C2E8AB;           /*點擊&選取色彩  設綠色*/
  border: 1px solid #5cb85c;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.transfer{text-align: right;}