.showtext {font-family: ctrc-uchen;
	cursor:text;}
.pagetext {line-height: 30px;
	font-size: 120%;
	cursor:default;
}
.cursor{cursor:default;}

pb:after{content: attr(n);}
division:after{content: attr(t);
	}
#address{font-size: 120%;
	cursor:default;}