.results {}

.results{font-family: ctrc-uchen;
	line-height: 26px;
	font-size:150%;
	padding-left: 10px;}
.pagename{cursor: pointer;}

.hl {color:red;}
.hl1 {color: blue;}
.hl2 {color: green;}

hl{color:red;}
hl[n="1"]{color: blue;}
hl[n="2"]{color: green;}

